body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.logo{
    font-size: 25px;
    font-weight: 700;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
}
.navbar a {
    text-decoration: none;
    color: #333;
    margin: 0 10px;
}
.navbar input {
    padding: 5px;
    width: 300px;
    height: 20px;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.main {
    
    padding: 20px;
    
}
.main-2{
    background-color: #fff9c4;
    display: flex;
    justify-content: space-between;
}
.section {
    width: 48%;
    padding: 20px;
    text-align: center;
    position: relative;
    height: 85vh;
    padding-top: 50px;
}
.create {
    background-color: #e0f7fa;
    clip-path: polygon(0 0, 100% 0, 78% 100%, 0% 100%);
    position: relative;
    width: 52%;
    box-sizing: border-box;
    
}
.shop {
    background-color: #fff9c4;
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); */
    width: 48%;
    box-sizing: border-box;
}
.section h2 {
    font-size: 60px;
    margin-bottom: 10px;
    color: #333;
}
.section p {
    font-size: 22px;
    margin-bottom: 20px;
}
.create img {
    height: 350px;
    width: auto;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.shop img{
    height: 350px;
    width: auto;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.section button {
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    background-color: #00796b;
    color: white;
    cursor: pointer;
    font-size: 20px;
}
.section button:hover {
    background-color: #004d40;
}

a{
    text-decoration: none;
    color: white;
}
